body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Excalifont, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.comidaYbandera {
  display: flex;
  justify-content: space-between;
}

.emoji {
  font-size: 60px;
  padding: 0px;
  margin-top: -20px;
}
.emojiYdescripcion {
  display: flex;
  gap: 40px;
}

.descripcion {
  margin-top: 3px;
  max-width: 24ch;
}
.borde {
  border: 2px solid black;
  border-radius: 20px;
}

button {
  height: 150px;
  background-color: white;
  border: none;
}
